.about {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

h2, p {
  margin-bottom: 1em;
}

h2 {
  color: #dec129;
}

.about a {
  text-decoration: underline;
}

